@font-face {
    font-family: 'Proba Pro';
    src: url('../fonts/ProbaPro-Regular.woff2') format('woff2'),
        url('../fonts/ProbaPro-Regular.woff') format('woff'),
        url('../fonts/ProbaPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proba Pro SmBd';
    src: url('../fonts/ProbaPro-SemiBold.woff2') format('woff2'),
        url('../fonts/ProbaPro-SemiBold.woff') format('woff'),
        url('../fonts/ProbaPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Proba Pro';
}

// ._container

._container {
    width: 59%;
    margin: 0 auto;
}

header{
    background-color:#D7E2EF;    
}
.header {
    // .header__container
    &-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__container {
        padding: 30px 0px;
    }
    //.header__left
    &__left{
        display: flex;
        justify-content: space-between;
        max-width: 350px;
        align-items: center;
        width: 40%;
        a{
            margin-right: 11px;
        }
        p{
           color: #667794;
           font-size: 16px;
        }
    }
    // .header__logo

    &__logo {
    }

    // .header__menu

    &__menu {
    }
}

.menu {
    max-width: 453px;
    width: 100%;
    // .menu__body

    &__body {
        padding-bottom: 22px;
        border-bottom: 1px solid #CAD5E1
    }

    // .menu__list

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            font-family: 'Proba Pro SmBd';
            outline: none;
            a{
                text-decoration: none;
            }
        }
    }

    // .menu__link

    &__link {
        color: #000000;
        &-active{
            color: #FD8D6F;
            border-bottom: 2px solid #FD8D6F;
            padding-bottom: 19px;
        }
        &-tel{
            color: #FD8D6F;
            display: flex;
            align-items: center;
            img{
                margin-right: 10px;
            }
        }
    }
}


.header {

    // .header__actions

    &__actions {
        padding: 103px 0px 0px;
        display: flex;
        justify-content: space-between;
    }
}
.actions-header {

    // .actions-header__services

    &__services {
        width: 48%;
        padding-bottom: 165px;
    }
}
.services-actions {
    h1{
        font-family: 'Proba Pro SmBd';
        font-size: 50px;
        color: #4F5B6D;
        max-width: 400px;
    }
    // .services-actions__discount

    &__discount {
        margin-top: 68px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 82%;
        p{
            font-size: 20px;
            color: #000;
            max-width: 336px;
            width: 100%;
            line-height: 26px;
        }
        span{
            font-size: 50px;
            font-family: 'Proba Pro SmBd';
        }   

    // .services-actions__tips

    &__tips {
    }
}
.action-tip {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    // .action-tip_item

    &_item {
        max-width: 150px;
        p{
           color: #4F5B6D;
           line-height: 20px;
        }
        span{
            font-family: 'Gilroy-SemiBold';
            border-bottom:3px solid #FD8D6F;
        }
    }
    }
}

.header {

    // .header__form

    &__form {
        width: 49%;
    }
}
.form-header {
    background: url(../img/bg_form1.png) no-repeat;
    background-size: 111%;
    background-position: 12% -13%;
    margin-bottom: -30px;
    // .form-header__control

    &__control {
        float: right;
        width: 81%;
        h4{
            font-size: 18px;
            line-height: 22px;
            font-family: 'Gilroy-SemiBold';
            margin-bottom: 20px;
            max-width: 328px;
        }
    }

    // .form-header__submit

    &__submit {
    }
}


#from-discover{
   padding: 42px 50px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   input{
       border: none;
       border-bottom: 2px solid #000;
       margin-bottom: 17px;
       background-color: transparent;
       padding: 10px 0px;
       font-size: 16px;
       font-family: 'Gilroy-Light';
   }
   input::placeholder{
       color: #7888A2;
   }
   button{
        margin-top: 23px;
        width: 150px;
        font-family: 'Proba Pro SmBd';
        color: #fff;
        background-color: #000;
        border: none;
        border-radius: 5px;
        padding: 10px;
        transition: 0.3s;
        &:hover{
           background-color: #FD8D6F;
           color: #000;
           transition: 0.3s;
        }
   }
}

.pacts {
    padding: 198px 0px;
    background-color: #D7E2EF;
    // .pacts__container

    &-circle{
        position: absolute;
        z-index: 1;
        top: 16%;
        right: 22%;
        width: 38%;
    }
}
.pacts-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    // .pacts-header__left

    &__left {
        width: 36%;
        padding-top: 101px;
        h2{
            color: #4F5B6D;
            font-size: 40px;
            font-family: 'Proba Pro SmBd';
        }
    }
    &__wrapper{
       
    }
    // .pacts-header__right

    &__right {
        width: 48%;
        max-width: 556px;
        background: url(../img/woman1.webp) no-repeat;
        background-size: 144%;
        height: 373px;
        background-position: 44% 43%;
        z-index: 1;
        // position: relative;
        // &::after{
        //     content: "";
        //     position: absolute;
        //     top: -2%;
        //     left: -24%;
        //     background: url(../img/circle-form.svg) no-repeat;
        //     background-size: 100%;
        //     width: 79%;
        //     background-position: -1%;
        //     height: 477px;
        //     z-index: -1;
        // }
    }
}

// TABS 
$color-blue-gray: #9194a1;
$color-blue-dark: #252b46;
$color-red-light: #FD8D6F;

.title {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  line-height: inherit;
}

.paragraph {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: inherit;
}

.main {
  .tab {
    width: 100%;
    height: auto;
    padding: 60px 0;
    &-info{
        margin: 56px auto;
        max-width: 750px;
        p{
            color: #FD8D6F;
            border-left: 2px solid #fff;
            padding-left: 20px;
            font-size: 30px;
            line-height: 32px;
        }
    }
    &-menu {
      display: flex;
      align-items: center;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      border-bottom: 1.3px solid #C5D1E0;
      transition: all 0.3s ease;

      &-link {
        position: relative;
        overflow: hidden;
        font-family: inherit;
        font-size: 20px;
        font-weight: 600;
        line-height: inherit;
        cursor: pointer;
        width: 22%;
        height: auto;
        padding: 20px 0;
        border-bottom: 2.5px solid transparent;
        color: #667794;
        transition: all 0.3s ease;
        border: none;
        background: unset;

        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          z-index: 2;
        }

        &.active {
          bottom: 0px;
          z-index: 0;
          overflow: hidden;
          border-bottom: 2.5px solid $color-red-light;
          color:  $color-red-light;
        }
      }
    }

    &-bar {
      padding: 56px 0;
      overflow: hidden;

      &-content {
        display: none;
        width: 100%;
        min-height: 10rem;
        transition: all 0.3s ease;

        &.active {
          display: block;
        }
      }
    }
  }
}

.tab-content {
    display: flex;
    justify-content: space-between;
    // .tab-content__system

    &__system {
        width: 15%;
        margin-top: 30px;
        h5{
            font-family: 'Gilroy-SemiBold';
            color: #000;
            font-size: 18px;
            margin-bottom: 30px;
        }
        ul{

        }
        li{
            color: #667794;
            font-family: 'Gilroy-Light';
            font-size: 16px;
            padding: 11px 0px;
            line-height: 22px;
            border-top: 1px solid #fff;
        }
    }

    // .tab-content__paks

    &__paks {
    }

    // .tab-content__prices

    &__prices {
    }
}
.paks-content {
    width: 41%;
    display: flex;
    justify-content: space-between;
    max-width: 351px;
    // .paks-content__item

    &__item {
        background-color: #DFE8F3;
        border-radius: 4px;
        text-align: center;
        box-shadow: 0 17px 17px rgba(0, 0, 0, 0.08);
        width: 47%;
        max-height: 375px;
        h5{
            font-family: 'Gilroy-SemiBold';
            color: #000;
            font-size: 18px;
            border: 1px solid #D7DFEA;
            padding: 32px;
        }
        ul{
            li{
               color: #667794;
               font-family: 'Gilroy-Light';
               padding: 23px 0px;
               border: 1px solid #D7DFEA;
               &:last-child{
                   border: none;
               }
            }
        }
    }
}
.prices-content {
    width: 32%;
    font-size: 15px;
    // .prices-content__about

    &__about {
        color: #4F5B6D;
        font-family: 'Gilroy-SemiBold';
        margin-bottom: 27px;
        line-height: 24px;
    }

    // .prices-content__description

    &__description {
        font-family: 'Gilroy-Light';
        color: #667794;
        line-height: 23px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1500px){
    ._container {
        width: 80%;
    }
}