@font-face {
  font-family: 'Proba Pro';
  src: url("../fonts/ProbaPro-Regular.woff2") format("woff2"), url("../fonts/ProbaPro-Regular.woff") format("woff"), url("../fonts/ProbaPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Proba Pro SmBd';
  src: url("../fonts/ProbaPro-SemiBold.woff2") format("woff2"), url("../fonts/ProbaPro-SemiBold.woff") format("woff"), url("../fonts/ProbaPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Proba Pro'; }

._container {
  width: 59%;
  margin: 0 auto; }

header {
  background-color: #D7E2EF; }

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.header__container {
  padding: 30px 0px; }
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%; }
  .header__left a {
    margin-right: 11px; }
  .header__left p {
    color: #667794;
    font-size: 16px; }

.menu {
  max-width: 453px;
  width: 100%; }
  .menu__body {
    padding-bottom: 22px;
    border-bottom: 1px solid #CAD5E1; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__list li {
      font-family: 'Proba Pro SmBd'; }
      .menu__list li a {
        text-decoration: none; }
  .menu__link {
    color: #000000; }
    .menu__link-active {
      color: #FD8D6F;
      border-bottom: 2px solid #FD8D6F;
      padding-bottom: 19px; }
    .menu__link-tel {
      color: #FD8D6F;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .menu__link-tel img {
        margin-right: 10px; }

.header__actions {
  padding: 103px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.actions-header__services {
  width: 48%;
  padding-bottom: 165px; }

.services-actions h1 {
  font-family: 'Proba Pro SmBd';
  font-size: 50px;
  color: #4F5B6D;
  max-width: 400px; }
.services-actions__discount {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82%; }
  .services-actions__discount p {
    font-size: 20px;
    color: #000;
    max-width: 336px;
    width: 100%;
    line-height: 26px; }
  .services-actions__discount span {
    font-size: 50px;
    font-family: 'Proba Pro SmBd'; }
.services-actions .action-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px; }
  .services-actions .action-tip_item {
    max-width: 150px; }
    .services-actions .action-tip_item p {
      color: #4F5B6D;
      line-height: 20px; }
    .services-actions .action-tip_item span {
      font-family: 'Gilroy-SemiBold';
      border-bottom: 3px solid #FD8D6F; }

.header__form {
  width: 49%; }

.form-header {
  background: url(../img/bg_form1.png) no-repeat;
  background-size: 111%;
  background-position: 12% -13%;
  margin-bottom: -30px; }
  .form-header__control {
    float: right;
    width: 81%; }
    .form-header__control h4 {
      font-size: 18px;
      line-height: 22px;
      font-family: 'Gilroy-SemiBold';
      margin-bottom: 20px;
      max-width: 328px; }

#from-discover {
  padding: 42px 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #from-discover input {
    border: none;
    border-bottom: 2px solid #000;
    margin-bottom: 17px;
    background-color: transparent;
    padding: 10px 0px;
    font-size: 16px;
    font-family: 'Gilroy-Light'; }
  #from-discover input::-webkit-input-placeholder {
    color: #7888A2; }
  #from-discover input:-ms-input-placeholder {
    color: #7888A2; }
  #from-discover input::-ms-input-placeholder {
    color: #7888A2; }
  #from-discover input::placeholder {
    color: #7888A2; }
  #from-discover button {
    margin-top: 23px;
    width: 150px;
    font-family: 'Proba Pro SmBd';
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    #from-discover button:hover {
      background-color: #FD8D6F;
      color: #000;
      -webkit-transition: 0.3s;
      transition: 0.3s; }

@media screen and (max-width: 1500px) {
  ._container {
    width: 80%; } }
